Label{
		-fx-font-family: "³ª´®°íµñ";
}

Button{
	-fx-font-family: "³ª´®°íµñ";
	-fx-font-weight: bold;
}

#logo-txt {
	-fx-font-weight: bold;
	-fx-font-size: 47px;
}

#logo-img{
	-fx-image: url("Data/acorn.png");
}

#GotoMainBtn {
	-fx-background-color: mediumaquamarine;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0 , 2 , 2 );
}